<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Engine</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="search">
        <div class="search_box" id="sEngine">
            <div class="header"><h1 class="title">
                <i>S</i>Engine</h1>
                <input class="colormode" type="radio" name="darkmode" id="darkmode" checked="true"/>
                <input class="colormode" type="radio" name="darkmode" id="lightmode"/>
            </div>
            <div class="auto_predict" id="auto_predict">
                <small class="search_h" v-for="s in search" v-on:click="addToSearch">[{s}]</small>
                <small v-model="result">[{result}]</small>
            </div>
            <div class="input">
                <input class="main" type="text" placeholder="Search..." id="search"  v-model="user_search" v-on:keyup="match_search"/>
                <input class="submit" type="submit" value="Search">
            </div>
        </div>
    </div>
</body>
<script src="../static/js/vue.js"></script>
<!--<script type="module" src="../static/js/configs.js"></script>-->
<script type="module" src="../static/js/index.js"></script>
<script src="../static/js/theme.js"></script>
</html>