<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Scheduler</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/all.min.css">
</head>
<body>
    <section class="navbar">
        <ul class="nav">
            <li><i class="fa fa-table"></i><small>Calender</small></li>
            <li><i class="fa fa-list"></i><small>Tasks</small></li>
            <li><i class="fa fa-search"></i><small>Search</small></li>
            <li><i class="fa fa-clock-o"></i><small>Routine</small></li>
            <li><i class="fa fa-check"></i><small>Done</small></li>
            <li><i class="fa fa-pie-chart"></i><small>Analysis</small></li>
        </ul>
        <div class="bottom">
            <i class="fa fa-arrow-right"></i>
        </div>
    </section>
    <section class="full">
        <div class="today_list">
            <h3 class="title">Todays Tasks</h3>
            <div class="tasks">
                <ul class="task_list" id="todaysList">
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
            </div>
        </div>
        <div class="add"><i class="fa fa-plus"></i></div>
    </section>

    <section class="cover"></section>
    <section class="componets" id="componets">
        <h3 class="title" id="comp_title">Appname</h3>
        <div id="app"></div>
    </section>
</body>
</html>